<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
    <script src="https://code.highcharts.com/dashboards/modules/dashboards-plugin.js"></script>
    <title>Fake news dectection</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li> |
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>

    <div class="HStack">
        <div class="text-box">
            <h1>Fake news detection</h1>
            <form method="post">
                <p>Title</p>
                <input id="title" type="text" ></form>
                <p>Content</p>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </form>
            <button class="submit-button">Submit</button>
        </div>
    </div>
    
</body>
</html>